/* HELPER */
:root {
  --body-background: #141922;
  --aside-background: #020202;
  --aside-title: #ffffff;
  --aside-text: #707070;
  --body-text: #7d7f84;
  --active-item: #adff2f;
  --slider-background: #5a5a5a;
  --slider-bar: #c1c1c1;
  --player-background: #282828;
  --player-text: #878787;
  --gap-pixel: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: 1px solid red;
}

/* CLASSES */
.page {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.app {
  display: flex;
  flex-direction: row;
}
.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--player-background);
  color: var(--aside-title);
}

.block {
}
.suggestions {
}

.navigation-list {
  list-style: none;
}
.playlist {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.track-info {
  display: flex;
}
.player-options {
}
.slider {
  background-color: var(--slider-background);
  height: 10px;
  /* max-width: 300px; */
  border-radius: 5px;
  transition: all 0.3s;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
}
.player-commands {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100%;
}
/* ELEMENTS */
.page__main-block {
  flex-grow: 1;
  background-color: aqua;
  overflow: hidden;
}
.page__footer-block {
  /* padding: 20px; */
}

.app__nav {
  /* padding: 20px; */
  background-color: var(--aside-background);
  color: var(--aside-title);
  display: flex;
  flex-direction: column;
}
.app__nav__up {
  /* padding: 20px; */
}
.app__nav__up__logo {
}
.app__nav__up__logo__img-small {
  display: none;
}
.app__nav__up__logo__img-large {
  max-width: 150px;
}

.navigation-list__item {
}
.navigation-list__item__link {
  color: var(--aside-text);
  display: inline-block;
  transition: color 0.3s;
  text-decoration: none;
}
.navigation-list__item__link:hover {
  color: var(--aside-title);
}
.navigation-list__item__link:hover .navigation-list__item__link__icon {
  opacity: 1;
}
.navigation-list__item__link__icon {
  width: 35px;
  object-fit: contain;
  vertical-align: middle;
  opacity: 0.8;
}

.navigation-list__item__link__title {
  display: inline-block;
  font-size: 13px;
}
.app__nav__middle {
  flex-grow: 1;
  overflow: hidden;
}
.app__nav__bottom {
  /* padding: 20px; */
}

.app__body {
  flex-grow: 1;
  background-color: var(--body-background);
  color: var(--aside-title);
  overflow: scroll;

  display: flex;
  flex-direction: column;
}
.app__body__upgrade {
  /* padding: 20px; */
  text-align: right;
  padding: 10px 4px;
}
.app__body__upgrade__button {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 30px;
  color: var(--aside-title);
  border: 1px solid var(--aside-title);
  text-decoration: none;
}
.app__body__upgrade__button:hover {
  transform: scale(1.1);
}
.app__body__nav {
  /* padding: 20px; */
}
.app__body__nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.app__body__nav__list__item {
  text-transform: uppercase;
  position: relative;
}
.app__body__nav__list__item__link {
  color: var(--body-text);
  text-decoration: none;
  display: inline-block;
  padding: 20px 4px;
  transition: color 0.3s;
}
.app__body__nav__list__item__link:hover {
  color: var(--aside-title);
}
.app__body__nav__list__item__link--active::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--active-item);
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
.app__body__content {
  flex-grow: 1;
}
.action-bar__left,
.action-bar__right {
  width: 230px;
}
.action-bar__left,
.action-bar__center,
.action-bar__right {
  /* padding: 20px; */
}
.action-bar__center {
  /* width: 300px; */
  width: 50%;
}
.block__title {
}
.block__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.block__list__item {
  width: calc(100% / 2 - var(--gap-pixel) / 2);
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__list__item__cover {
  width: 100%;
  position: relative;
}
.block__list__item__cover:hover .block__list__item__cover__overlay {
  opacity: 1;
  cursor: pointer;
}
.block__list__item__cover__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.block__list__item__cover__overlay__icon {
  font-size: 50px;
}

.block__list__item__cover__img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

.block__list__item__title {
  text-align: center;
  font-size: 17px;
}
.block__list__item__subtitle {
  color: var(--body-text);
  text-align: center;
  font-size: 13px;
}
.playlist__title {
}
.playlist__button {
  color: var(--aside-text);
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 15px;
}
.playlist__button::before {
  content: "\f0fe";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 45px;
  vertical-align: middle;
}
.playlist__button:hover {
  color: var(--aside-title);
}
.playlist__list {
  overflow: auto;
  flex-grow: 1;
}
.playlist__list__item {
}
.playlist__list__item__link {
  text-decoration: none;
  color: var(--aside-text);
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  font-size: 13px;
}
.playlist__list__item__link:hover {
  color: var(--aside-title);
}

.track-info__img {
  max-width: 30%;
  object-fit: contain;
  padding: 10px;
}
.track-info__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  flex-grow: 1;
}
.track-info__data__album {
  font-size: 13px;
}
.track-info__data__title {
  font-size: 13px;
  color: var(--player-text);
}
.track-info__data__artist {
  font-size: 13px;
  color: var(--player-text);
}
.track-info__actions {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.track-info__actions__icon {
  font-size: 16px;
  padding: 5px;
  color: var(--player-text);
}
.track-info__actions__icon:hover {
  cursor: pointer;
  color: var(--aside-title);
}

.player-options__list {
  list-style: none;
  display: flex;
  height: 100%;
}
.player-options__item {
  align-items: center;
  display: flex;
  font-size: 16px;
}
.player-options__item__link {
  text-decoration: none;
  color: var(--aside-title);
}
.player-options__item__link__icon {
}

.slider:hover .slider__bar {
  background-color: var(--active-item);
}
.slider:hover .slider__bar::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--aside-title);
}
.slider__bar {
  height: 100%;
  width: 30%;
  background-color: var(--slider-bar);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.player-commands__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-commands__list__item {
}
.player-commands__list__item__icon {
  font-size: 25px;
  padding: 0 5px;
}
.player-commands__slider-section {
  display: flex;
  align-items: center;
}
.player-commands__slider-section__time {
  font-size: 12px;
}

/* MODIFIERS */
.block__list__item__cover--circle {
  border-radius: 50%;
  overflow: hidden;
}
.player-commands__list__item__icon--big {
  font-size: 45px;
}
.player-commands__list__item__icon--big:hover {
  transform: scale(1.1);
}
.player-options__item--extended {
  flex-grow: 1;
}

.navigation-list__item__link__icon--rounded {
  background-color: var(--aside-text);
  border-radius: 50%;
}
.navigation-list__item__link__icon--small {
  width: 30px;
}
.navigation-list__item__link__title--strong {
  color: var(--aside-title);
  font-weight: bold;
  font-size: 15px;
}

/* MEDIA QUERY */
@media screen and (max-width: 575px) {
  .navigation-list__item__link__title,
  .playlist {
    display: none;
  }
  .navigation-list__item {
    text-align: center;
  }

  .app__nav__up__logo__img-small {
    display: inherit;
  }
  .app__nav__up__logo__img-large {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .app__nav {
    min-width: 230px;
  }
}

@media screen and (min-width: 768px) {
  .block__list__item {
    width: calc(100% / 4 - var(--gap-pixel) * 3 / 4);
  }
}

@media screen and (min-width: 992px) {
  .block__list__item {
    width: calc(100% / 6 - var(--gap-pixel) * 5 / 6);
  }
}
